.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside {
  width: 60%;
}
section {
  width: 100%;
}

@media (min-width: 780px) {
  .wrapper {
    flex-direction: row;
  }
}
