input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 20px;
}

label {
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
  border-radius: 10px;
  height: 2rem;
  background-color: blue;
  color: white;
}

.w_input {
  width: 90%;
}

#fecha {
  width: auto;
  margin-bottom: 5px;
}

.formulario {
  padding: 20px 30px;
  background-color: rgb(213, 208, 208);
  border: 2px black solid;
  position: sticky;
  top: 28px;
}

.cuerpo label {
  display: block;
}

.cuerpo textarea {
  display: block;
  width: 100%;
  height: 250px;
  padding: 10px;
  margin-bottom: 5px;
}
