.articulo {
  padding: 20px 30px;
  background-color: lightsteelblue;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
  overflow: hidden;
  box-sizing: content-box;
}

.tituloArticulo {
  text-transform: uppercase;
}

.fecha {
  margin-top: 0px;
}
.imagen {
  float: left;
  width: 200px;
  margin: 10px;
  object-fit: cover;
}
